.weather-main-card,
.weather-details-card {
  margin: 1vw;
  padding: 3vw;
  border: 1px solid yellow;
  background-color: antiquewhite;
}

.hidden {
  display: none;
}

span {
  background-color: red;
}

p.no-data-message {
  font-style: italic;
  opacity: 0.7;
}

div.loader {
  height: 25px;
  width: 25px;
  border: 20px solid gray;
  border-top: 20px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
