body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

body.clouds {
  background-image: url(../images/clouds.jpg);
  background-size: 100% 100%;
}

body.clouds-more {
  background-image: url(../images/clouds-more.jpg);
  background-size: 100% 100%;
}

body.thunderstorm {
  background-image: url(../images/thunderstorm.jpg);
  background-size: 100% 100%;
}

body.clear {
  background-image: url(../images/clear-sky.jpg);
  background-size: 100% 100%;
}

body.atmosphere {
  background-image: url(../images/atmosphere.jpg);
  background-size: 100% 100%;
}

body.rain {
  background-image: url(../images/rain.jpg);
  background-size: 100% 100%;
}

h1 {
  width: 100%;
  text-align: center;
  background-color: rgb(100, 151, 177, 0.8);
  border-bottom: 3px solid #005073;
  border-radius: 4px;
  padding: 10px;
}

.dataContainer,
.weather-cards {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

form input {
  border: 2px solid #005073;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(245, 245, 245, 0.4);
}

button {
  border: 2px solid #005073;
  border-radius: 10px;
  padding: 5px;
  background-color: #b3cde0;
  color: black;
}

button:hover,
button:focus {
  background-color: rgb(179, 205, 224, 0.4);
  border: 2px solid black;
  cursor: pointer;
}

.units-changeable.hidden {
  display: none;
}

.weather-main-card,
.weather-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 15px 30px rgb(0 80 115 / 15%);
  border-radius: 10px;
  width: inherit;
  padding: 5px;
}

.weather-main-card {
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
  background-color: rgb(245, 245, 245, 0.4);
}

.weather-main-card .location-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-main-card .weather-main-and-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(245, 245, 245, 0.6);
  width: 50%;
}

.weather-main-card .weather-main-and-desc .weather-main-text {
  font-size: 20px;
}

.weather-main-card .temp-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 50%;
  align-items: center;
  background-color: #b3cde0;
  border-radius: 5px;
}

.weather-main-card .temp-main-div button {
  border: 0px;
  background-color: #6497b1;
  border: 1px solid #005073;
}

.weather-main-card .temp-main-div button:hover,
.weather-main-card .temp-main-div button:focus {
  background-color: rgb(100, 151, 177, 0.3);
  border: 1px solid black;
  cursor: pointer;
}

.weather-details-card {
  display: flex;
  background-color: rgb(245, 245, 245, 0.4);
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.weather-details-card > div {
  background-color: rgb(100, 151, 177, 0.8);
  width: 95%;
  border: 8px;
  border: 1px solid #005073;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.weather-details-card > div:hover {
  background-color: rgb(100, 151, 177, 0.5);
  border: 1px solid black;
}

.weather-details-card div div {
  border: 0;
}

.attribution {
  margin-bottom: 15px;
  background-color: rgb(245, 245, 245, 0.4);
  padding: 10px;
  border-radius: 10px;
  width: 85%;
  text-align: center;
}

p.no-data-message {
  color: #4c4c6d;
  font-style: italic;
}

div.loader {
  height: 25px;
  width: 25px;
  border: 20px solid gray;
  border-top: 20px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .weather-cards {
    flex-direction: row;
    align-items: flex-start;
  }
  .weather-main-card,
  .weather-details-card {
    height: 100%;
    background-color: rgb(245, 245, 245, 0.6);
  }
  .attribution {
    width: 25%;
  }
}

::-webkit-scrollbar {
  background-color: rgb(245, 245, 245, 0.4);
}

::-webkit-scrollbar-thumb {
  background-color: #b3cde0;
}
